body {
  background-color: #000
}


#menu {
  background-color: white;
  border-top: .2em solid #787678;
  padding-top: .5em;
  padding-bottom: .5em;
  font-family: constantine;
}

.photo {
  border: 3px solid #333;

}
h1 {
border-top: .9em solid #380C38;
padding-top: .3em;
padding-bottom: .3em;
background-color: #fff;
font-family: constantine;
font-size: 3em;
}

.first {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.second {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;

}

.third {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.fourth {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}


.back-to-top {
  color: #380C38 ;
  text-align: center;
  padding-top: 4em;
  border-bottom: .5em solid #380C38;
  font-family: constantina;
}

a:hover,
a:focus {
  background-color: #380C38;
padding-top: 0em;
padding-bottom: 0em;
text-decoration: none;
color: #ffffff;
}

a {
color: #59555A;
font-size: 12px;
padding-left: 1em;
padding-right: 1em;
font-family: constantine;
}
